In [3]:
import pandas as pd
import numpy as np

In [4]:
data= pd.read_csv('../data/Victims_of_rape.csv')
data.head()

,Area_Name,Year,Subgroup,Rape_Cases_Reported,Victims_Above_50_Yrs,Victims_Between_10-14_Yrs,Victims_Between_14-18_Yrs,Victims_Between_18-30_Yrs,Victims_Between_30-50_Yrs,Victims_of_Rape_Total,Victims_Upto_10_Yrs
0,Andaman & Nicobar Islands,2001,Total Rape Victims,3,0,0,3,0,0,3,0
1,Andaman & Nicobar Islands,2001,Victims of Incest Rape,1,0,0,1,0,0,1,0
2,Andaman & Nicobar Islands,2001,Victims of Other Rape,2,0,0,2,0,0,2,0
3,Andaman & Nicobar Islands,2002,Total Rape Victims,2,0,0,1,1,0,2,0
4,Andaman & Nicobar Islands,2002,Victims of Incest Rape,0,0,0,0,0,0,0,0

In [5]:
data.shape

(1050, 11)

In [6]:
data.drop(["Rape_Cases_Reported"],axis=1, inplace=True)
data.head()

,Area_Name,Year,Subgroup,Victims_Above_50_Yrs,Victims_Between_10-14_Yrs,Victims_Between_14-18_Yrs,Victims_Between_18-30_Yrs,Victims_Between_30-50_Yrs,Victims_of_Rape_Total,Victims_Upto_10_Yrs
0,Andaman & Nicobar Islands,2001,Total Rape Victims,0,0,3,0,0,3,0
1,Andaman & Nicobar Islands,2001,Victims of Incest Rape,0,0,1,0,0,1,0
2,Andaman & Nicobar Islands,2001,Victims of Other Rape,0,0,2,0,0,2,0
3,Andaman & Nicobar Islands,2002,Total Rape Victims,0,0,1,1,0,2,0
4,Andaman & Nicobar Islands,2002,Victims of Incest Rape,0,0,0,0,0,0,0

In [7]:
data.shape

(1050, 10)

In [8]:
data.isnull().sum()

Area_Name                    0
Year                         0
Subgroup                     0
Victims_Above_50_Yrs         0
Victims_Between_10-14_Yrs    0
Victims_Between_14-18_Yrs    0
Victims_Between_18-30_Yrs    0
Victims_Between_30-50_Yrs    0
Victims_of_Rape_Total        0
Victims_Upto_10_Yrs          0
dtype: int64

In [9]:
datakeys=['Area_Name','Subgroup']
for i in datakeys:
    print(i,data[i].unique())

Area_Name ['Andaman & Nicobar Islands' 'Andhra Pradesh' 'Arunachal Pradesh' 'Assam'
 'Bihar' 'Chandigarh' 'Chhattisgarh' 'Dadra & Nagar Haveli' 'Daman & Diu'
 'Delhi' 'Goa' 'Gujarat' 'Haryana' 'Himachal Pradesh' 'Jammu & Kashmir'
 'Jharkhand' 'Karnataka' 'Kerala' 'Lakshadweep' 'Madhya Pradesh'
 'Maharashtra' 'Manipur' 'Meghalaya' 'Mizoram' 'Nagaland' 'Odisha'
 'Puducherry' 'Punjab' 'Rajasthan' 'Sikkim' 'Tamil Nadu' 'Tripura'
 'Uttar Pradesh' 'Uttarakhand' 'West Bengal']
Subgroup ['Total Rape Victims' 'Victims of Incest Rape' 'Victims of Other Rape']

In [10]:
from sklearn.preprocessing import LabelEncoder
a=LabelEncoder()
for i in datakeys:
    data[i]=a.fit_transform(data[i])
data.head()

,Area_Name,Year,Subgroup,Victims_Above_50_Yrs,Victims_Between_10-14_Yrs,Victims_Between_14-18_Yrs,Victims_Between_18-30_Yrs,Victims_Between_30-50_Yrs,Victims_of_Rape_Total,Victims_Upto_10_Yrs
0,0,2001,0,0,0,3,0,0,3,0
1,0,2001,1,0,0,1,0,0,1,0
2,0,2001,2,0,0,2,0,0,2,0
3,0,2002,0,0,0,1,1,0,2,0
4,0,2002,1,0,0,0,0,0,0,0

In [11]:
data.to_csv("../data/final_rapedataset.csv")