,Unnamed: 0,Area_Name,Year,Subgroup,Victims_Above_50_Yrs,Victims_Between_10-14_Yrs,Victims_Between_14-18_Yrs,Victims_Between_18-30_Yrs,Victims_Between_30-50_Yrs,Victims_of_Rape_Total,Victims_Upto_10_Yrs
0,0,0,2001,0,0,0,3,0,0,3,0
1,1,0,2001,1,0,0,1,0,0,1,0
2,2,0,2001,2,0,0,2,0,0,2,0
3,3,0,2002,0,0,0,1,1,0,2,0
4,4,0,2002,1,0,0,0,0,0,0,0